body {
  height: 100vh;
  width: 100vw;
  height: 1128px;
  margin: 0;
  background-image: url(img/—Åomponent.png);
  background-repeat: no-repeat;
  background-size: 100% 1128px;
  max-width: 75vw;
  max-height: 115vh;
}
form{
flex-direction: column;
  display: flex;
  gap: 10px ;
  position: relative;
  left: 10%;
  top: 15%;
}
.name {
  color: #3E3E3E;
  font-family: Apercu Arabic Pro;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 32.4px;
  position: relative;
  left: 10%;
  top: 15%;
}

.plc-1 {
  color: #2D2D2D;
  font-family: Apercu Arabic Pro;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 32.4px;
  width: 557px;
  height: 93px;
  flex-shrink: 0;
  border-radius: 10px;
  border: 1px solid #DCDCDC;
  background: #FFF;
}

.plc-2 {
  color: #2D2D2D;
  font-family: Apercu Arabic Pro;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height:32.4px;
  width: 557px;
  height: 93px;
  flex-shrink: 0;
  border-radius: 10px;
  border: 1px solid #DCDCDC;
  background: #FFF;
}

.txt-area {
  color: #2D2D2D;
  font-family: Apercu Arabic Pro;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height:  32.4px ;
  width: 557px;
  height: 189px;
  flex-shrink: 0;
  border-radius: 10px;
  border: 1px solid #DCDCDC;
  background: #FFF;
}

.btn {
  color: #FFF;
  font-family: Apercu Arabic Pro;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: 218px;
height: 73px;
flex-shrink: 0;
border-radius: 500px;
background: #FAD34F;
border: none;
}

footer {
 margin-top: 350px;
}
.footer{
  position: relative;
  left: 27%;
  margin-top: 4%;
}

hr{
width: 1862px;;
}